name: Credential Scanner

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  cred-scan:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v2
    - name: Scan credentials
      uses: outscale-dev/cred-scan@main
      with:
        scan_path: "./"
